http_interactions:
- request:
    method: GET
    uri: https://api.github.com/repos/dragosmg/covr2ghdemo/pulls/2
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-oauth-scopes: gist, repo, user, workflow
      x-accepted-oauth-scopes: repo
      x-github-media-type: github.v3; format=json
      etag: '"1d8a21e00b403aa09fb880b12f75c731113756dc36afd0fa16e9ab0f9aece106"'
      last-modified: Tue, 12 May 2026 10:17:08 GMT
      x-github-api-version-selected: '2022-11-28'
      x-ratelimit-limit: '5000'
      x-ratelimit-remaining: '4932'
      x-ratelimit-reset: '1779142791'
      x-ratelimit-used: '68'
      x-ratelimit-resource: core
    body:
      string: '{"url":"https://api.github.com/repos/dragosmg/covr2ghdemo/pulls/2","id":3185437238,"node_id":"PR_kwDOQ8Olb8693eo2","html_url":"https://github.com/dragosmg/covr2ghdemo/pull/2","diff_url":"https://github.com/dragosmg/covr2ghdemo/pull/2.diff","patch_url":"https://github.com/dragosmg/covr2ghdemo/pull/2.patch","issue_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/issues/2","number":2,"state":"closed","locked":false,"title":"`add_two()`
        and `add_three()`","user":{"login":"dragosmg","id":13176361,"node_id":"MDQ6VXNlcjEzMTc2MzYx","avatar_url":"https://avatars.githubusercontent.com/u/13176361?v=4","gravatar_id":"","url":"https://api.github.com/users/dragosmg","html_url":"https://github.com/dragosmg","followers_url":"https://api.github.com/users/dragosmg/followers","following_url":"https://api.github.com/users/dragosmg/following{/other_user}","gists_url":"https://api.github.com/users/dragosmg/gists{/gist_id}","starred_url":"https://api.github.com/users/dragosmg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dragosmg/subscriptions","organizations_url":"https://api.github.com/users/dragosmg/orgs","repos_url":"https://api.github.com/users/dragosmg/repos","events_url":"https://api.github.com/users/dragosmg/events{/privacy}","received_events_url":"https://api.github.com/users/dragosmg/received_events","type":"User","user_view_type":"public","site_admin":false},"body":null,"created_at":"2026-01-18T15:30:32Z","updated_at":"2026-01-31T00:50:09Z","closed_at":"2026-01-18T16:28:37Z","merged_at":"2026-01-18T16:28:37Z","merge_commit_sha":"bb65c7b959e510482f5d728b7c3c3168d10f3e87","assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/pulls/2/commits","review_comments_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/pulls/2/comments","review_comment_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/pulls/comments{/number}","comments_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/issues/2/comments","statuses_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/statuses/b3b920fde4c4d14db76fd037ee6786df754d3412","head":{"label":"dragosmg:add_three","ref":"add_three","sha":"b3b920fde4c4d14db76fd037ee6786df754d3412","user":{"login":"dragosmg","id":13176361,"node_id":"MDQ6VXNlcjEzMTc2MzYx","avatar_url":"https://avatars.githubusercontent.com/u/13176361?v=4","gravatar_id":"","url":"https://api.github.com/users/dragosmg","html_url":"https://github.com/dragosmg","followers_url":"https://api.github.com/users/dragosmg/followers","following_url":"https://api.github.com/users/dragosmg/following{/other_user}","gists_url":"https://api.github.com/users/dragosmg/gists{/gist_id}","starred_url":"https://api.github.com/users/dragosmg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dragosmg/subscriptions","organizations_url":"https://api.github.com/users/dragosmg/orgs","repos_url":"https://api.github.com/users/dragosmg/repos","events_url":"https://api.github.com/users/dragosmg/events{/privacy}","received_events_url":"https://api.github.com/users/dragosmg/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":1136895343,"node_id":"R_kgDOQ8Olbw","name":"covr2ghdemo","full_name":"dragosmg/covr2ghdemo","private":false,"owner":{"login":"dragosmg","id":13176361,"node_id":"MDQ6VXNlcjEzMTc2MzYx","avatar_url":"https://avatars.githubusercontent.com/u/13176361?v=4","gravatar_id":"","url":"https://api.github.com/users/dragosmg","html_url":"https://github.com/dragosmg","followers_url":"https://api.github.com/users/dragosmg/followers","following_url":"https://api.github.com/users/dragosmg/following{/other_user}","gists_url":"https://api.github.com/users/dragosmg/gists{/gist_id}","starred_url":"https://api.github.com/users/dragosmg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dragosmg/subscriptions","organizations_url":"https://api.github.com/users/dragosmg/orgs","repos_url":"https://api.github.com/users/dragosmg/repos","events_url":"https://api.github.com/users/dragosmg/events{/privacy}","received_events_url":"https://api.github.com/users/dragosmg/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/dragosmg/covr2ghdemo","description":"Demo
        package showcasing the {covr2md} functionality","fork":false,"url":"https://api.github.com/repos/dragosmg/covr2ghdemo","forks_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/forks","keys_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/teams","hooks_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/hooks","issue_events_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/issues/events{/number}","events_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/events","assignees_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/assignees{/user}","branches_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/branches{/branch}","tags_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/tags","blobs_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/git/refs{/sha}","trees_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/statuses/{sha}","languages_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/languages","stargazers_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/stargazers","contributors_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/contributors","subscribers_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/subscribers","subscription_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/subscription","commits_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/commits{/sha}","git_commits_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/git/commits{/sha}","comments_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/comments{/number}","issue_comment_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/issues/comments{/number}","contents_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/contents/{+path}","compare_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/merges","archive_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/downloads","issues_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/issues{/number}","pulls_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/pulls{/number}","milestones_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/milestones{/number}","notifications_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/labels{/name}","releases_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/releases{/id}","deployments_url":"https://api.github.com/repos/dragosmg/covr2ghdemo/deployments","created_at":"2026-01-18T14:59:02Z","updated_at":"2026-02-02T18:20:52Z","pushed_at":"2026-05-15T19:28:57Z","git_url":"git://github.com/dragosmg/covr2ghdemo.git","ssh_url":"git@github.com:dragosmg/covr2ghdemo.git","clone_url":"https://github.com/dragosmg/covr2ghdemo.git","svn_url":"https://github.com/dragosmg/covr2ghdemo","homepage":"","size":95,"stargazers_count":0,"watchers_count":0,"language":"R","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main"}},"base":{"label":"dragosmg:main","ref":"main","sha":"63e9463f904c5c079296dbbe3b8c285cf6d95653","user":{"login":"dragosmg","id":13176361,"node_id":"MDQ6VXNlcjEzMTc2MzYx","avatar_url":"https://avatars.githubusercontent.com/u/13176361?v=4","gravatar_id":"","url":"https://api.github.com/users/dragosmg","html_url":"https://github.com/dragosmg","followers_url":"https://api.github.com/users/dragosmg/followers","following_url":"https://api.github.com/users/dragosmg/following{/other_user}","gists_url":"https://a[...]
